/* 폰트 */
@font-face {
  font-family: 'NanumSquareRound';
  src:url('/resource/fonts/NanumSquareRoundR.eot');
  src:url('/resource/fonts/NanumSquareRoundR.eot#iefix') format('embedded-opentype'),
      url('/resource/fonts/NanumSquareRoundR.woff') format('woff'),
      url('/resource/fonts/NanumSquareRoundR.ttf') format('truetype');
  src:local(¡Ø), url('/resource/fonts/NanumSquareRoundR.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: 'NanumSquareRound', 'Courier New', Courier, monospace;
}

.root {
  --color-primary: darkslateblue;
  --color-primary-dark: #39306f;
  --color-secondary: #c3b9d6;
  --color-secondary-dark: #9c94ab;
  --color-accent: #ffcc00;
}

/*---------- Panel ----------*/
.row {
  display: inline-block;
  width: 100%;
}

.col {
  padding: .5rem;
}

@media only screen and (min-width: 320px), (min-width: 768px) {
  .col.wd-33, .col.wd-50, .col.wd-100 {
    width: 100%;
    float: left;
  }
}

@media only screen and (min-width: 1224px) {
  .col.wd-100 {
    width: 100%;
    float: left;
  }
  
  .col.wd-50 {
    width: 50%;
    float: left;
  }
  
  .col.wd-33 {
    width: 33%;
    float: left;
  }
}

.panel {
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
}

.panel .panel-title {
  text-align: left;
  font-weight: bold;
  font-size: 1.2rem;
  margin: .5rem 0;
}

.panel .panel-control {
  margin: 1rem 0;
}

.text {
  color: #555;
}

.text.center {
  text-align: center;
}

.text.right {
  text-align: right;
}
/*---------- Panel END ----------*/


/*---------- Control (input, button 등) ----------*/
input, textarea {
  outline: none;
  padding: .5rem;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
}

input:hover,
input:focus,
textarea:hover,
textarea:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.button {
  cursor: pointer;
  outline: none;
  padding: .5rem 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
}

.button:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, .2);
  background-color: #eee;
}

.button.red {
  border: none;
  background-color: tomato;
  color: #fff;
}
.button.red:hover {
  background-color: #cc4f38;
}



.button.orange {
  border: none;
  background-color: orange;
  color: #fff;
}
.button.orange:hover {
  background-color: #cc8400;
}



.button.green {
  border: none;
  background-color: #66b266;
  color: #fff;
}
.button.green:hover {
  background-color: #329932;
}



.button.blue {
  border: none;
  background-color: dodgerblue;
  color: #fff;
}
.button.blue:hover {
  background-color: #1873cc;
}

/*---------- Control END ----------*/
