/* 폰트 */
@font-face {
  font-family: 'NanumSquareRound';
  src:url('/resource/fonts/NanumSquareRoundR.eot');
  src:url('/resource/fonts/NanumSquareRoundR.eot#iefix') format('embedded-opentype'),
      url('/resource/fonts/NanumSquareRoundR.woff') format('woff'),
      url('/resource/fonts/NanumSquareRoundR.ttf') format('truetype');
  src:local(¡Ø), url('/resource/fonts/NanumSquareRoundR.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: 'NanumSquareRound', 'Courier New', Courier, monospace;
}

.root {
  --color-primary: darkslateblue;
  --color-secondary: #c3b9d6;
  --color-accent: #ffcc00;
}
