/* 폰트 */
@font-face {
  font-family: 'NanumSquareRound';
  src:url('/resource/fonts/NanumSquareRoundR.eot');
  src:url('/resource/fonts/NanumSquareRoundR.eot#iefix') format('embedded-opentype'),
      url('/resource/fonts/NanumSquareRoundR.woff') format('woff'),
      url('/resource/fonts/NanumSquareRoundR.ttf') format('truetype');
  src:local(¡Ø), url('/resource/fonts/NanumSquareRoundR.woff') format('woff');
}

* {
  box-sizing: border-box;
  font-family: 'NanumSquareRound', 'Courier New', Courier, monospace;
}

html, body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

#wrap {
  width: 100%;
  height: 100%;
  --color-primary: darkslateblue;
  --color-secondary: #c3b9d6;
  --color-accent: #ffcc00;
}

/*---------- Header ----------*/
/* 상단 헤더 */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  background-color: var(--color-primary);
  color: #fff;
}

/* Header 치즈 타이틀 */
header .title {
  float: left;
  margin-left: 2rem;
  font-weight: bold;
  font-size: 2rem;
  line-height: 5rem;
  color: #fff;
  text-decoration: none;
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
}

header .title:hover {
  color: var(--color-accent);
}

/* Header 우측의 메뉴 제목 */
header #header_title {
  float: right;
  margin-right: 2rem;
  font-size: 1.5rem;
  line-height: 5rem;
}
/*---------- Header END ----------*/


/*---------- Main ----------*/
/* 내용 영역 (Drawer, 메인) */
.main {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 5rem;
}

/* 좌측의 메뉴영역 */
.main .drawer {
  flex-grow: 1;
  background-color: var(--color-secondary);
}

/* 메뉴 항목 */
.main .drawer .drawer-item {
  cursor: pointer;
  position: relative;
  width: 100%;
  text-align: center;
  padding: 1rem .5rem;
  font-size: 1.5rem;
  color: #000;
  text-decoration: none;
}

.main .drawer .drawer-item:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transition: .3s;
     -moz-transition: .3s;
      -ms-transition: .3s;
       -o-transition: .3s;
          transition: .3s;
}

.main .drawer .drawer-item:hover:before {
  background-color: rgba(0, 0, 0, .1);
}

/* 실제 내용 영역*/
.main .content {
  flex-grow: 4;
  padding: 1rem;
}
/*---------- Main END ----------*/
